@import "../../styles.scss";

.navbar {
  &-container {
    width: 100%;
    background-color: $secondary-color;
    margin: 0;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    border-bottom: 8px solid $tertiary-color;
  }

  &-logo {
    margin: 0 10%;
    width: 100%;

    & img {
      width: 110px;
    }
  }

  &-logout {
    float: right;
    margin-top: 1%;
    background-color: $secondary-color;
    border: none;
    font-size: 20px;
    color: $primary-text-color;
    font-family: 'Ubuntu';
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $hover-color;
    }
  }

  @include respond-to($size: 1200px) {
    &-logo img {
      width: 92px;
    }
  }

  @include respond-to($size: 450px) {
    &-logo img {
      width: 85px;
    }
  }
}
