@import "../../styles.scss";

.chat {
    width: 100vw;
}

a {
    text-decoration: none;
    color: $tertiary-color;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 30%;

    &:hover {
      color: $hover-color;
    }
}

h1 {
    font-family: 'Ubuntu';
    font-weight: 350;
    font-size: 40px;
    margin-top: 1%;
    margin-bottom: 15px;
    margin-left: 30%;
}

button {
    padding: 20px;
    margin-top: 1%;
    font-family: 'Ubuntu';
    font-size: 15px;
    border: 1px solid $input-color;
    background-color: $tertiary-color;
    color: $secondary-color;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: $hover-color;
    }
}