@import "../../styles.scss";

.message {
    width: 30%;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
    color: $primary-text-color;
  
    h1 {
      font-family: "Ubuntu";
      font-weight: 350;
      font-size: 40px;
      margin: 0
    }
  
    p {
      font-family: "Ubuntu";
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 0;
    }
}