<app-navbar></app-navbar>
<div class="sign-on">
  <div class="sign-on-banner">
    <div class="sign-on-message">
      <p>The best tool to manage Employees.</p> 
      <p>We make HR processes ez.</p>
    </div>
    <div class="sign-on-card">
      <div class="sign-on-form">
        <h1>Sign In</h1>
        <div>
          <label for="text">Username:&nbsp;</label>
          <label for="text" class="incorrect" *ngIf="!userExists">Username does not exist</label>
          <label for="text" class="incorrect" *ngIf="!verifyComplete">Please verify email</label>
          <input type="text" [(ngModel)]="username">
        </div>
        <div>
          <label for="text" type="password">Password:&nbsp;</label>
          <label for="text" class="incorrect" *ngIf="passwordIncorrect">Password is incorrect</label>
          <input type="password" [(ngModel)]="password">
        </div>
        <button (click)="onSubmit()">Submit</button>
        <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
  <div class="sign-on-testement">
    Free, easy to use, HR tool to increase efficiency in the workplace. 
  </div>
</div>
