<div class="sign-on">
  <div class="sign-on-banner">
    <div class="sign-on-message">
      <p>The best tool to manage Employees.</p> 
      <p>We make HR processes ez.</p>
    </div>
    <div class="sign-on-card">
      <div class="sign-on-form">
        <h1>Sign In</h1>
        <div>
          <label for="text">Username:</label>
          <input type="text">
        </div>
        <div>
          <label for="text" type="password">Password:</label>
          <input type="password">
        </div>
        <button>Submit</button>
        <a href="#">Register</a>
      </div>
    </div>
  </div>
  <div class="sign-on-testement">
    Free, easy to use, HR tool to increase efficiency in the workplace. 
  </div>
</div>
